<div class="header">
    <span class="logo">{{appName}}</span>
    <div class="header-right big-menu">
        <a routerLinkActive="active" routerLink="/home">Activity-1</a>
        <a routerLinkActive="active" routerLink="/activity-two">Activity-2</a>
        <a routerLinkActive="active" routerLink="/activity-three">Activity-3</a>
    </div>
    <div class="header-right small-menu">
        <a routerLinkActive="active" routerLink="/activity-three">Act3</a>
        <a routerLinkActive="active" routerLink="/activity-two">Act2</a>
        <a routerLinkActive="active" routerLink="/home">Act1</a>
    </div>
</div>