/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
}

.modal-header {
    padding: 12px 10px;
    background-color: #ddd;

    .close {
        float: right;
        color: #432f17;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
}

h2 {
    display: inline;
    color: #432f17;
}

/* The Close Button */
.close:hover {
    opacity: 0.8;
}

.modal-body {
    padding: 10px 12px;
}

/* modal width for small screens */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }
}

input[type=text],
[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

baked-good-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.btn-group {
    text-align: center;
}

button {
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;

    &.submit-btn {
        background-color: #432f17;
        margin-right: 10px;
        color: white;
    }

    &.cancel-btn {
        background-color: #ddd;
        margin-right: 10px;
    }
}

.submit-btn:hover,
.cancel-btn:hover {
    opacity: 0.8;
}

.submit-btn:active,
.cancel-btn:active {
    opacity: 0.5;
}

.input-error {
    color: red;
    margin-bottom: 5px;
    float: right;
}

sup {
    color: red;
}