/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    font-family: arial, sans-serif;
}

.container {
    position: relative;
    opacity: 1 !important;
}

.container::before {
    content: "";
    background-image: url('./assets/images/cupcake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
}

.align-center {
    text-align: center;
}